# Database connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME

DATABASE_URL="postgresql://usuario:password@localhost:5435/workout_tracker?schema=public"

# JWT configuration
# JWT secrets (use long random strings in production)
JWT_SECRET="your_secret_key_for_access_token"
JWT_REFRESH_SECRET="another_different_and_secure_key_for_refresh"